<h1>The SIX</h1>

<h2> About the crew...</h2>

<h3>OWEN</h3>
<p> I am a student of anything that can be taught and an apprentice of all that can be mastered.</p>

<h3>EMILY</h3>
<p> I'm 5'2, I wanna dance with you, and I'm sophisticated fun.</p>

<h3>SHELBY</h3>
<p> I don't give a fuck about shit and I'm here to make mine so CASH ME OUTSIDE howbowda</p>

<h3>CHRIS</h3>
<p> I know my limits </p>

<h3>ISCHIA</h3>
<p> Ye Ye Ye </p>

<h3>AITOR</h3>
<p> I hate, I mean.. I love, wait... I HATE rum so much... that if half of the bottle is gone, I just gotta finish it" </p>

<p>Pages#about</p>
<p>Find me in app/views/pages/about.html.erb</p>
